.zero {
  background-color: gray;
  text-align: end;
}

.orange {
  background-color: rgb(219, 92, 18);
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.pone {
  color: white;
  font-size: larger;
  margin-top: 1%;
  margin-bottom: 0.1%;
}

.col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px lightgray;
  border-right: solid 2px lightgray;
  border-left: solid 2px lightgray;
}

.div-border {
  border-bottom: solid 2px lightgray;
  border-right: solid 2px lightgray;
  border-left: solid 2px lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar {
  display: flex;
  justify-content: space-around;
}

.navBar ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 0;
  font-family: sans-serif;
}

.navBar li {
  list-style: none;
  margin-right: 15%;
  margin-left: 5%;
}

.main {
  margin-left: 45%;
}

.math {
  width: 100%;
  font-style: italic;
}

.link {
  padding: 3%;
  border-right: solid black 2px;
}

.calc {
  margin-right: 2%;
}
