.zero {
  background-color: gray;
  text-align: end;
}

.orange {
  background-color: rgb(219, 92, 18);
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.pone {
  color: white;
  font-size: larger;
  margin-top: 1%;
  margin-bottom: 0.1%;
}

.col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px lightgray;
  border-right: solid 2px lightgray;
  border-left: solid 2px lightgray;
}

.div-border {
  border-bottom: solid 2px lightgray;
  border-right: solid 2px lightgray;
  border-left: solid 2px lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
